---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: podinfo
  namespace: argocd-podinfo
spec:
  project: default
  source:
    repoURL: https://github.com/DonaldKellett/argocd-gitops-demo.git
    targetRevision: HEAD
    path: podinfo/overlays/dev/
    kustomize: {}
  destination:
    server: https://kubernetes.default.svc
    namespace: podinfo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
